.cardsContainer{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x:scroll;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.suppliersContainer{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.suppliersContainer button{
  background-color: rgb(224, 211, 137);
  border: none;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px grey;
}
