input[type=text],input[type=number], select {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.productSelect{
    display: flex;
    justify-content: space-between;
}

input[type=submit],input[type=reset],input[type=button]{
    padding: 5px;
}

.productsContainer{
    display:flex;
    justify-content:space-between;
}

@media only screen and (max-width:700px) {
    .products{
        flex-direction: column;
    }

    .productSelect{
        flex-direction: column;
    }
}
